body{
    background-color: #F5F5F5;
}

.brd{
    background-color:#F9F5F3;
}

.brd > th{
    font-size: 14px;
    vertical-align: middle;
}

.brd > th:first-child{
    background:#F9F5F3;
    border-radius:8px 0px 0px 8px;
}
.brd > th:last-child{
    background:#F9F5F3;
    border-radius:0px 8px 8px 0px;
}
tbody{
    border-top:3px solid #fff;
}
.card.card-login{
    border: 0px solid white;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.24);
}

.card.card-round{
    border: 0px solid white;
    border-radius: 8px;
}

.card.card-tracking{
    border: 0px solid white;
    border-radius: 8px;
    overflow-y: scroll;
    height: 80vh;
}

.card.card-red{
    background: #F26F5B;
    color: white;
    border: 0px solid white;
    border-radius: 8px;
}

.card.card-blue{
    background: #75D9E7;
    color: white;
    border: 0px solid white;
    border-radius: 8px;
}

.card.card-navy{
    background: #3C95F2;
    color: white;
    border: 0px solid white;
    border-radius: 8px;
}

.card.card-green{
    background: #3cf266;
    color: white;
    border: 0px solid white;
    border-radius: 8px;
}

.image-login{
    background-image: url("assets/illustration-login.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-custom{
    border: 1px solid #fff;
    background-color: transparent;
}

.btn-red{
    background-color: #EF3E2A;
    color: white;
}

.btn-red:hover{
    background-color: #f52710;
    color: white;
}


.sidebar {
    height: 100%;
    width: 0;
    margin: 16px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: 0.25s;
  }

  .sidebar .container{
    border-radius: 8px;
    height: 100%;
    background-color: white;
  }

  .sidebar a, .dropdown-btn{
    text-decoration: none;
    font-size: 16px;
    color: black;
    display: flex;
    transition: 0.3s;
    padding: 8px;
    margin-top: 16px;
    border-radius: 4px;
  }

  .sidebar a:hover, .dropdown-btn:hover{
    background-color: #ef3e2a3f;
  }

  .active {
    background-color: #ef3e2a3f;
  }

  .dropdown-container {
    display: none;
  }
  


  #main {
    transition: margin-left .25s;
    padding: 16px 16px 16px 32px;
  }

  .img-round{
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.349);
  }

  p.isi{
    border-radius: 4px;
    padding: 4px;
    background-color: #F9F9F9;
  }

  p.title{
    padding: 4px;
    font-weight: bold;
  }

.pesanmasuk > p.title-pesan{
    display: flex;
    font-weight: bold;
}

.pesanmasuk > p.isi-pesan{
    display: inline-flex;
    padding: 8px;
    margin-right: auto;
    max-width: 50%;
    border-radius: 8px 0px 8px 0px;
    background-color: #dddddd;
    font-weight: 600;
    flex-wrap: wrap;
    flex-direction: column;
}

.pesanmasuk > p.waktu-pesan{
    margin-right: auto;
    font-size: 12px;
    color: grey;
}

.pesansaya{
    display: flex;
    flex-direction: column;

}

.pesansaya > p.title-pesan{
    display: flex;
    margin-left: auto;
    font-weight: bold;
}

.pesansaya > p.isi-pesan{
    display: inline-flex;
    padding: 8px;
    max-width: 50%;
    margin-left: auto;
    border-radius: 0px 8px 0px 8px;
    background-color: #3C95F2;
    color: white;
    font-weight: 600;
}

.pesansaya > p.waktu-pesan{
    margin-left: auto;
    font-size: 12px;
    color: grey;
}

.icon-input input::file-selector-button{
     display: none;
}
